body{
    height: 2000px;
}
div{
    width: 150px;
    height: 150px;
    /* margin: 10px; */
}
.first{
    background-color: red;
    /* transform: translateX(100px); */
}
.second{
    background-color: green;
    /* position: fixed; */
}

.third{
    background-color: blue;
    position: sticky;
    top: 0px;
    /* position: sticky;
    top: 0px; */
}


.parent{
    width: 500px;
    height: 500px;
    background-color: rgb(170, 122, 215);
    position: relative;
}
.child{
    width: 200px;
    height: 200px;
    background-color: rgb(81, 25, 135);
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.container{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: aqua;
}


/* Example of z-index */
.circle-1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(164, 142, 113);
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 20px;
}

.circle-2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:deeppink;
    position: absolute;
    z-index: 2;
}